/* Importação da fonte do Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Estilos padrão */
body {
    background-image: url("https://github.com/R0bs0nRamos/Grupo11/blob/main/Grupo11_index.html/img.grupo11/ab.jpg?raw=true");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

.login-container {
    background: linear-gradient(to bottom, #0000ff, #000000);
    color: aliceblue;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color: #007bff;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.input-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.remember-me input {
    margin-right: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 15px;
    color: red;
    text-align: center;
}

/* Media Queries para tablets (768px) */
@media screen and (max-width: 768px) {
    .login-container {
        padding: 20px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }
}

/* Media Queries para celulares (480px) */
@media screen and (max-width: 480px) {
    .login-container {
        padding: 15px;
    }

    button {
        font-size: 12px;
        padding: 6px;
    }
}

/*FOOTER*/
#footer {
    background: linear-gradient(to right, #000000, #3f3f46); /* Degradado de negro a azul */
    color: #fff;
    padding: 10px;
}

.star {
    --s: 40px;
    height: calc(var(--s)*0.9);
    width: calc(var(--s)*5);
    --v1:transparent,#000 0.5deg 108deg,#0000 109deg;
    --v2:transparent,#000 0.5deg  36deg,#0000  37deg;
    -webkit-mask:
     conic-gradient(from 54deg  at calc(var(--s)*0.68) calc(var(--s)*0.57),var(--v1)),
     conic-gradient(from 90deg  at calc(var(--s)*0.02) calc(var(--s)*0.35),var(--v2)),
     conic-gradient(from 126deg at calc(var(--s)*0.5)  calc(var(--s)*0.7) ,var(--v1)),
     conic-gradient(from 162deg at calc(var(--s)*0.5)  0                  ,var(--v2));
    -webkit-mask-size: var(--s) var(--s);
    -webkit-mask-composite: xor,destination-over;
            mask-composite: exclude,add;
    -webkit-mask-repeat:repeat-x;
    background:linear-gradient(#ffb940 0 0) left/0% 100% #ddd no-repeat;
    animation: l20 2s infinite linear;
}
@keyframes l20 {
    90%,100% {background-size:100% 100%}
}

#navdown {
    margin-bottom: 10px;
}

.contactos ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contactos li {
    display: inline-block;
    margin-right: 10px;
}

.contactos img {
    width: 30px; /* Ajusta el tamaño según tus necesidades */
    height: 30px; /* Ajusta el tamaño según tus necesidades */
    border-radius: 50%; /* Para hacer los íconos de redes sociales redondos */
}

.contactos a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.contactos a:hover {
    opacity: 0.8;
}

.copyright {
    text-align: center;
    font-size: 14px;
}

/* Media Queries para Responsividad */

/* Tablets */
@media (max-width: 992px) {
    .contactos img {
        width: 20px;
        height: 20px;
    }
    
    .copyright {
        font-size: 12px;
    }
}

/* Teléfonos */
@media (max-width: 576px) {
    .contactos img {
        width: 15px;
        height: 15px;
    }
    
    .contactos li {
        margin-right: 5px;
    }
}

