/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://github.com/R0bs0nRamos/Grupo11/blob/main/Grupo11_index.html/img.grupo11/7.png?raw=true');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Login Container */
.login-container {
    background-image: url('https://github.com/R0bs0nRamos/Grupo11/blob/main/Grupo11_index.html/img.grupo11/ab.jpg?raw=true');
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: white;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-group input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

p {
    text-align: center;
}

p a {
    color: #0056b3;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* Footer Styles */
#footer {
    margin-top: 20px;
    text-align: center;
    color: white;
    width: 100%;
}

.navbar {
    margin-bottom: 10px;
}

.navbar h2 {
    color: white;
}

.contactos ul {
    list-style: none;
    padding: 0;
}

.contactos ul li {
    display: inline-block;
    margin: 0 10px;
}

.contactos ul li a img {
    width: 24px;
    height: 24px;
}

.copyright {
    font-size: 0.8em;
}
